.container {
    position: absolute;
    width: 660px;
    height: 324px;
    left: 50%;
    top: 1835px;
    margin-left: -330px;
}

.title {
    position: absolute;
    width: 163px;
    height: 60px;
    left: 50%;
    margin-left: -81px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    color: #FF9551;
}

.form-contact {
    position: absolute;
    width: 660px;
    height: 324px;
    left: 50%;
    margin-left: -330px;
}

.input-name {
    box-sizing: border-box;
    position: absolute;
    width: 320px;
    height: 50px;
    left: 0%;
    top: 30%;
    border: 2px solid #CECECE;
    border-radius: 5px;


}

.input-email {
    box-sizing: border-box;
    position: absolute;
    width: 320px;
    height: 50px;
    left: 100%;
    margin-left: -320px;
    top: 30%;
    border: 2px solid #CECECE;
    border-radius: 5px;
}

.input-detail {
    box-sizing: border-box;
    position: absolute;
    width: 660px;
    height: 100px;
    left: 0%;
    top: 60%;
    border: 2px solid #CECECE;
    border-radius: 5px;
}

.enviar {
    color: #fffbfb;
    text-align: center;
    font: 400 25px "Open Sans", sans-serif;
    position: absolute;
    background: #ff9551;
    border-radius: 5px;
    width: 150px;
    height: 51px;
    left: 50%;
    top: 95%;
    margin-left: -75px;


}