<!-- 
<div class="header-top">
    <div class="menu">
        <span class="menu-text">Contactos</span>
        <span class="menu-text">Trabajos</span>
        <span class="menu-text">Acerca de</span>
    </div>
    <div class="card">
        <span class="text-name">Pamela Chirino</span>
        <span class="text-descripcion">Desarrollador Web</span>

    </div>

    <div class="photo">

        <svg width="157" height="161" viewBox="0 0 157 161" fill="none"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <ellipse cx="78.5" cy="80.5" rx="71.5" ry="73.5"
                fill="url(#pattern0)" />
            <path
                d="M78.5 157.5C120.012 157.5 153.5 122.934 153.5 80.5C153.5 38.0657 120.012 3.5 78.5 3.5C36.9883 3.5 3.5 38.0657 3.5 80.5C3.5 122.934 36.9883 157.5 78.5 157.5Z"
                stroke="#FFFAFA" stroke-opacity="0.2" stroke-width="7" />
            <defs>
                <pattern id="pattern0" patternContentUnits="objectBoundingBox"
                    width="1" height="1">
                    <use xlink:href="#image0_10_31"
                        transform="matrix(0.00128497 0 0 0.00125 -0.013986 0)" />
                </pattern>
                <image id="image0_10_31"
                    xlink:href="../../../assets/1648398040863.jpg" width="800"
                    height="800" />
            </defs>
        </svg>

    </div>

</div> -->
<header>
    <div class="contenedor">
        <nav class="menu">
            <a href="#">Acerca de</a>
            <a href="#">Trabajos</a>
            <a href="#">Curriculum</a>
        </nav>
        <div class="contenedor-texto">
            <div class="texto">
                <h1 class="nombre">
                    Pamela Chirino
                </h1>
                <h2 class="profesion">
                    Desarrollador Web
                </h2>
            </div>
        </div>
    </div>

</header>
