<div class="contenedor">
  <h3 class="titulo">
    Trabajos
  </h3>
  <div class="contenedor-trabajos">
    <app-work-card class="trabajo"></app-work-card>
    <app-work-card class="trabajo"></app-work-card>
    <app-work-card class="trabajo"></app-work-card>
    <app-work-card class="trabajo"></app-work-card>
    <app-work-card class="trabajo"></app-work-card>
    <app-work-card class="trabajo"></app-work-card>
    <app-work-card class="trabajo"></app-work-card>
    <app-work-card class="trabajo"></app-work-card>

  </div>
</div>
